[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
certifi = "==2019.3.9"
chardet = "==3.0.4"
idna = "==2.8"
requests = "==2.22.0"
tabulate = "==0.8.6"
urllib3 = "==1.25.3"

